{% extends "base.html" %}
{% load static %}
{% block main_content %}
<main class="feed">
    <form method="POST" action="/feed-update">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td><label>id фильма</label></td>
                    <td>{{ form.film_id }}</td>
                </tr>
                {{form.update_date.as_hidden}}
                <tr>
                    <td><label>Комментарий для добавления в ленту</label></td>
                    <td>{{ form.update_comment }}</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Добавить">
    </form>
    <h2>Список фильмов в ленте</h2>
    <table>
    {% for some_film, feed_film in feed_data %}
        <tr class="default-row">
            <td class="default-column"><a
                    href="/film/{{ some_film.id }}">{{ some_film.id }}</a></td>
            <td class="default-column">
                {{ some_film.title }}
            </td>
            <td class="default-column">
                {{ feed_film.update_date }}
            </td>
            <td class="default-column">
                {{ feed_film.update_comment|default:"no comment" }}
            </td>
            <td class="default-column">
                <a href="delete-feed/{{some_film.id}}">Удалить запись</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <div class="page-choice block-film-feed">

        {% for page_number in pages %}
            {% if page_number != '...' %}
                <a class="page-link"
                   href="feed-update?page={{ page_number }}&q={{ last_queue }}">
                    {{ page_number }}
                </a>
            {% elif page_number == '...' %}
                ...
            {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock main_content %}